In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [105]:
raw_data = pd.read_csv('Information Technology.csv', sep='\s*,\s*',
                           header=0, encoding='ascii', engine='python')

In [106]:
raw_data.head(10)

,Unnamed: 0,date,open,high,low,close,volume,Name,full_name,sector
0,1259,2/8/2013,67.7142,68.4014,66.8928,67.8542,158168416,AAPL,Apple Inc.,Information Technology
1,1260,2/11/2013,68.0714,69.2771,67.6071,68.5614,129029425,AAPL,Apple Inc.,Information Technology
2,1261,2/12/2013,68.5014,68.9114,66.8205,66.8428,151829363,AAPL,Apple Inc.,Information Technology
3,1262,2/13/2013,66.7442,67.6628,66.1742,66.7156,118721995,AAPL,Apple Inc.,Information Technology
4,1263,2/14/2013,66.3599,67.3771,66.2885,66.6556,88809154,AAPL,Apple Inc.,Information Technology
5,1264,2/15/2013,66.9785,67.1656,65.7028,65.7371,97924631,AAPL,Apple Inc.,Information Technology
6,1265,2/19/2013,65.8714,66.1042,64.8356,65.7128,108854046,AAPL,Apple Inc.,Information Technology
7,1266,2/20/2013,65.3842,65.3842,64.1142,64.1214,118891367,AAPL,Apple Inc.,Information Technology
8,1267,2/21/2013,63.7142,64.1671,63.2599,63.7228,111596821,AAPL,Apple Inc.,Information Technology
9,1268,2/22/2013,64.1785,64.5142,63.7999,64.4014,82583823,AAPL,Apple Inc.,Information Technology

In [108]:
raw_data['date'] = pd.to_datetime(raw_data['date'])

In [85]:
data = raw_data[(raw_data['date'] >= '2015-01-02') & (raw_data['date'] <= '2015-12-31')]

We wish to look the entire IT sector of the S&P 500 in 2015 to determine this sector's volatility for this year.

In [86]:


#Get the number of unique companies in the sector
company_count = data.Name.nunique()

# If we want to look at the volatility of the entire IT sector for 1 year, we need to first add up all of the closing prices for each company for every day, then divide by the number of companies which existed for that year.

In [87]:
from datetime import datetime
from dateutil.parser import parse

avg_closing = [] 

for row in data['date']:
    current_date = row
    total = 0 
    for row2 in data.itertuples():
       if row2.date == current_date: 
            total = (total + row2.close)
    avg = total/company_count
    #print(current_date, avg)
    avg_closing.append({ 'Date':current_date, 'Total':avg })
    
    str_time = current_date.strftime('%Y-%m-%d')
    loop_date = datetime.strptime(str_time, '%Y-%m-%d')
    last_date = datetime.strptime('2015-12-31', '%Y-%m-%d')
    
    if loop_date == last_date:
       # print('current date IS DECEMBER')
        break 


avg_closing_data = pd.DataFrame(avg_closing)

In [88]:
#This is our final list of the average closing prices for each day 
avg_closing_data

          Date      Total
0   2015-01-02  72.006935
1   2015-01-05  70.800854
2   2015-01-06  69.524441
3   2015-01-07  70.035512
4   2015-01-08  71.321836
5   2015-01-09  71.030201
6   2015-01-12  70.272639
7   2015-01-13  70.215372
8   2015-01-14  69.931739
9   2015-01-15  69.295636
10  2015-01-16  70.433752
11  2015-01-20  70.723457
12  2015-01-21  71.243891
13  2015-01-22  72.312764
14  2015-01-23  72.666899
15  2015-01-26  72.418286
16  2015-01-27  70.948825
17  2015-01-28  70.429471
18  2015-01-29  70.998622
19  2015-01-30  70.622561
20  2015-02-02  70.836945
21  2015-02-03  71.752199
22  2015-02-04  71.611143
23  2015-02-05  71.915723
24  2015-02-06  71.798912
25  2015-02-09  71.438767
26  2015-02-10  72.662643
27  2015-02-11  72.839445
28  2015-02-12  73.831806
29  2015-02-13  74.504030
..         ...        ...
222 2015-11-18  83.259130
223 2015-11-19  83.345725
224 2015-11-20  84.178261
225 2015-11-23  83.990072
226 2015-11-24  83.777971
227 2015-11-25  83.811739
228 2015-11-27  84.036957
229 2015-11-30  83.850290
230 2015-12-01  85.147971
231 2015-12-02  84.537536
232 2015-12-03  83.498261
233 2015-12-04  85.120435
234 2015-12-07  84.407826
235 2015-12-08  84.417174
236 2015-12-09  83.093043
237 2015-12-10  83.174928
238 2015-12-11  81.625290
239 2015-12-14  81.973478
240 2015-12-15  82.454638
241 2015-12-16  83.551087
242 2015-12-17  82.324783
243 2015-12-18  81.027899
244 2015-12-21  81.734783
245 2015-12-22  82.347754
246 2015-12-23  82.972971
247 2015-12-24  82.913043
248 2015-12-28  83.275652
249 2015-12-29  84.318841
250 2015-12-30  83.728188
251 2015-12-31  82.589275

[252 rows x 2 columns]

In [89]:
avg_closing_data['Total'].values.std(ddof=1)
#Standard deviation is the most common method of determining volatility. The STD for 2015 for the IT sector is 3.71

3.7132684146575388

In [109]:
data_2016 = raw_data[(raw_data['date'] >= '2016-01-01') & (raw_data['date'] <= '2016-12-31')]

In [111]:
data_2016.head(100)
company_count_2016 = data_2016.Name.nunique()
print(company_count_2016)

69

In [115]:
from datetime import datetime
from dateutil.parser import parse

avg_closing_2016 = [] 

for row in data_2016['date']:
    current_date = row
    total = 0 
    for row2 in data_2016.itertuples():
       if row2.date == current_date: 
            total = (total + row2.close)
    avg = total/company_count_2016
    print(current_date, avg)
    avg_closing_2016.append({ 'Date':current_date, 'Total':avg })
    
    str_time = current_date.strftime('%Y-%m-%d')
    loop_date = datetime.strptime(str_time, '%Y-%m-%d')
    last_date = datetime.strptime('2016-12-30', '%Y-%m-%d')
    
    if loop_date == last_date:
       # print('current date IS DECEMBER')
        break 


avg_closing_data_2016 = pd.DataFrame(avg_closing_2016)

2016-01-04 00:00:00 80.99
2016-01-05 00:00:00 80.7979710145
2016-01-06 00:00:00 79.9921014493
2016-01-07 00:00:00 77.9225362319
2016-01-08 00:00:00 76.869057971
2016-01-11 00:00:00 77.025942029
2016-01-12 00:00:00 78.0042028986
2016-01-13 00:00:00 75.4962318841
2016-01-14 00:00:00 76.7658695652
2016-01-15 00:00:00 74.7608695652
2016-01-19 00:00:00 74.9669565217
2016-01-20 00:00:00 74.608115942
2016-01-21 00:00:00 74.937826087
2016-01-22 00:00:00 76.5681884058
2016-01-25 00:00:00 75.4845652174
2016-01-26 00:00:00 76.158115942
2016-01-27 00:00:00 74.5599275362
2016-01-28 00:00:00 75.0494202899
2016-01-29 00:00:00 77.1110869565
2016-02-01 00:00:00 77.7066666667
2016-02-02 00:00:00 76.2557246377
2016-02-03 00:00:00 75.5324637681
2016-02-04 00:00:00 75.3420289855
2016-02-05 00:00:00 72.6137681159
2016-02-08 00:00:00 71.1130434783
2016-02-09 00:00:00 70.7637681159
2016-02-10 00:00:00 71.3796376812
2016-02-11 00:00:00 70.9905797101
2016-02-12 00:00:00 72.0101449275
2016-02-16 00:00:00 73.4685507246
2016-02-17 00:00:00 75.2450724638
2016-02-18 00:00:00 74.6664492754
2016-02-19 00:00:00 75.3036231884
2016-02-22 00:00:00 76.4260869565
2016-02-23 00:00:00 75.245942029
2016-02-24 00:00:00 75.8885507246
2016-02-25 00:00:00 76.8884057971
2016-02-26 00:00:00 76.8449275362
2016-02-29 00:00:00 76.1966666667
2016-03-01 00:00:00 78.4992753623
2016-03-02 00:00:00 78.5062318841
2016-03-03 00:00:00 78.5282608696
2016-03-04 00:00:00 78.7575362319
2016-03-07 00:00:00 78.1427536232
2016-03-08 00:00:00 77.25
2016-03-09 00:00:00 78.0521014493
2016-03-10 00:00:00 78.0955072464
2016-03-11 00:00:00 79.4984782609
2016-03-14 00:00:00 79.6195652174
2016-03-15 00:00:00 79.497826087
2016-03-16 00:00:00 80.1795652174
2016-03-17 00:00:00 80.5956521739
2016-03-18 00:00:00 80.9775362319
2016-03-21 00:00:00 81.2917391304
2016-03-22 00:00:00 81.3533333333
2016-03-23 00:00:00 80.7924637681
2016-03-24 00:00:00 80.822173913
2016-03-28 00:00:00 80.7994202899
2016-03-29 00:00:00 81.9437681159
2016-03-30 00:00:00 82.3271014493
2016-03-31 00:00:00 82.3595652174
2016-04-01 00:00:00 83.0217391304
2016-04-04 00:00:00 82.4344927536
2016-04-05 00:00:00 81.607826087
2016-04-06 00:00:00 82.5505797101
2016-04-07 00:00:00 81.4168115942
2016-04-08 00:00:00 81.5830434783
2016-04-11 00:00:00 81.2191304348
2016-04-12 00:00:00 81.44
2016-04-13 00:00:00 82.7504347826
2016-04-14 00:00:00 82.5511594203
2016-04-15 00:00:00 82.5579710145
2016-04-18 00:00:00 83.0891304348
2016-04-19 00:00:00 82.1192753623
2016-04-20 00:00:00 82.3765217391
2016-04-21 00:00:00 82.1741304348
2016-04-22 00:00:00 80.8731884058
2016-04-25 00:00:00 80.8065217391
2016-04-26 00:00:00 80.4955072464
2016-04-27 00:00:00 80.6026086957
2016-04-28 00:00:00 79.3
2016-04-29 00:00:00 78.6524637681
2016-05-02 00:00:00 79.2794202899
2016-05-03 00:00:00 78.4298550725
2016-05-04 00:00:00 78.1230434783
2016-05-05 00:00:00 78.2344927536
2016-05-06 00:00:00 78.9673913043
2016-05-09 00:00:00 79.1076811594
2016-05-10 00:00:00 80.2224637681
2016-05-11 00:00:00 79.6488405797
2016-05-12 00:00:00 79.3479710145
2016-05-13 00:00:00 79.1197101449
2016-05-16 00:00:00 79.9257971014
2016-05-17 00:00:00 79.2156521739
2016-05-18 00:00:00 79.6291304348
2016-05-19 00:00:00 79.0482608696
2016-05-20 00:00:00 80.081884058
2016-05-23 00:00:00 80.0420289855
2016-05-24 00:00:00 81.8133333333
2016-05-25 00:00:00 82.1881884058
2016-05-26 00:00:00 82.3084782609
2016-05-27 00:00:00 82.9869565217
2016-05-31 00:00:00 83.2144927536
2016-06-01 00:00:00 83.2286956522
2016-06-02 00:00:00 83.3766666667
2016-06-03 00:00:00 82.8834782609
2016-06-06 00:00:00 82.9636231884
2016-06-07 00:00:00 83.3934782609
2016-06-08 00:00:00 83.7255072464
2016-06-09 00:00:00 83.5662318841
2016-06-10 00:00:00 82.3666666667
2016-06-13 00:00:00 81.8444927536
2016-06-14 00:00:00 81.9301449275
2016-06-15 00:00:00 81.907173913
2016-06-16 00:00:00 81.8108695652
2016-06-17 00:00:00 80.9049275362
2016-06-20 00:00:00 81.51
2016-06-21 00:00:00 81.7566666667
2016-06-22 00:00:00 81.4617391304
2016-06-23 00:00:00 82.6867391304
2016-06-24 00:00:00 78.8242028986
2016-06-27 00:00:00 76.7715942029
2016-06-28 00:00:00 78.3363768116
2016-06-29 00:00:00 79.6282608696
2016-06-30 00:00:00 80.7342028986
2016-07-01 00:00:00 80.8872463768
2016-07-05 00:00:00 80.1726086957
2016-07-06 00:00:00 80.4665217391
2016-07-07 00:00:00 80.6834782609
2016-07-08 00:00:00 82.2442028986
2016-07-11 00:00:00 82.9648550725
2016-07-12 00:00:00 83.8162318841
2016-07-13 00:00:00 83.5992753623
2016-07-14 00:00:00 84.1684057971
2016-07-15 00:00:00 84.0337681159
2016-07-18 00:00:00 84.6753623188
2016-07-19 00:00:00 84.5239130435
2016-07-20 00:00:00 85.298115942
2016-07-21 00:00:00 84.9905797101
2016-07-22 00:00:00 85.5088405797
2016-07-25 00:00:00 85.5220289855
2016-07-26 00:00:00 86.1126449275
2016-07-27 00:00:00 86.041884058
2016-07-28 00:00:00 86.2175362319
2016-07-29 00:00:00 86.5353623188
2016-08-01 00:00:00 86.711884058
2016-08-02 00:00:00 85.8586956522
2016-08-03 00:00:00 86.0005797101
2016-08-04 00:00:00 86.1534782609
2016-08-05 00:00:00 87.3418115942
2016-08-08 00:00:00 87.1126086957
2016-08-09 00:00:00 87.3537681159
2016-08-10 00:00:00 87.121884058
2016-08-11 00:00:00 87.3926086957
2016-08-12 00:00:00 87.2915942029
2016-08-15 00:00:00 87.5566666667
2016-08-16 00:00:00 86.7853623188
2016-08-17 00:00:00 86.7743478261
2016-08-18 00:00:00 87.0144927536
2016-08-19 00:00:00 87.2086231884
2016-08-22 00:00:00 87.1491304348
2016-08-23 00:00:00 87.4924637681
2016-08-24 00:00:00 86.9630434783
2016-08-25 00:00:00 87.1941304348
2016-08-26 00:00:00 87.4053623188
2016-08-29 00:00:00 87.6346376812
2016-08-30 00:00:00 87.427826087
2016-08-31 00:00:00 87.3179710145
2016-09-01 00:00:00 87.6769565217
2016-09-02 00:00:00 88.0175362319
2016-09-06 00:00:00 88.3569565217
2016-09-07 00:00:00 88.3969565217
2016-09-08 00:00:00 87.8516666667
2016-09-09 00:00:00 85.7286956522
2016-09-12 00:00:00 87.0517391304
2016-09-13 00:00:00 85.9901449275
2016-09-14 00:00:00 86.2213043478
2016-09-15 00:00:00 87.462173913
2016-09-16 00:00:00 87.0407246377
2016-09-19 00:00:00 87.0875362319
2016-09-20 00:00:00 87.101884058
2016-09-21 00:00:00 88.1199275362
2016-09-22 00:00:00 88.7813043478
2016-09-23 00:00:00 88.2342028986
2016-09-26 00:00:00 87.457826087
2016-09-27 00:00:00 88.5265217391
2016-09-28 00:00:00 88.6628985507
2016-09-29 00:00:00 88.2027536232
2016-09-30 00:00:00 88.7111594203
2016-10-03 00:00:00 88.4544927536
2016-10-04 00:00:00 88.2842028986
2016-10-05 00:00:00 88.7688405797
2016-10-06 00:00:00 88.878115942
2016-10-07 00:00:00 88.4326086957
2016-10-10 00:00:00 88.9992753623
2016-10-11 00:00:00 87.8382608696
2016-10-12 00:00:00 87.8742028986
2016-10-13 00:00:00 87.1762318841
2016-10-14 00:00:00 87.4933333333
2016-10-17 00:00:00 87.1839130435
2016-10-18 00:00:00 88.4162318841
2016-10-19 00:00:00 88.8392028986
2016-10-20 00:00:00 88.5018115942
2016-10-21 00:00:00 88.6607246377
2016-10-24 00:00:00 89.8601449275
2016-10-25 00:00:00 89.2133333333
2016-10-26 00:00:00 89.1701449275
2016-10-27 00:00:00 88.9566666667
2016-10-28 00:00:00 89.1189855072
2016-10-31 00:00:00 89.0236231884
2016-11-01 00:00:00 88.4460869565
2016-11-02 00:00:00 87.6284057971
2016-11-03 00:00:00 87.2352898551
2016-11-04 00:00:00 87.0153623188
2016-11-07 00:00:00 89.1132608696
2016-11-08 00:00:00 89.6049275362
2016-11-09 00:00:00 89.5765217391
2016-11-10 00:00:00 88.3916666667
2016-11-11 00:00:00 88.7729710145
2016-11-14 00:00:00 87.6875362319
2016-11-15 00:00:00 88.9879710145
2016-11-16 00:00:00 89.6185507246
2016-11-17 00:00:00 90.5384057971
2016-11-18 00:00:00 90.1988405797
2016-11-21 00:00:00 91.1746376812
2016-11-22 00:00:00 91.3688405797
2016-11-23 00:00:00 91.0875362319
2016-11-25 00:00:00 91.3637681159
2016-11-28 00:00:00 91.2749275362
2016-11-29 00:00:00 91.4711594203
2016-11-30 00:00:00 90.342173913
2016-12-01 00:00:00 88.2097101449
2016-12-02 00:00:00 88.5328985507
2016-12-05 00:00:00 89.6834782609
2016-12-06 00:00:00 90.0171014493
2016-12-07 00:00:00 91.7210144928
2016-12-08 00:00:00 92.2186956522
2016-12-09 00:00:00 92.455942029
2016-12-12 00:00:00 92.0046376812
2016-12-13 00:00:00 92.8950724638
2016-12-14 00:00:00 92.6717391304
2016-12-15 00:00:00 93.2188405797
2016-12-16 00:00:00 92.4569565217
2016-12-19 00:00:00 92.9710144928
2016-12-20 00:00:00 93.3460869565
2016-12-21 00:00:00 93.1491304348

2016-12-22 00:00:00 92.6626086957
2016-12-23 00:00:00 92.8565217391
2016-12-27 00:00:00 93.2386956522
2016-12-28 00:00:00 92.2510144928
2016-12-29 00:00:00 92.1733333333
2016-12-30 00:00:00 91.2660869565

In [116]:
avg_closing_data_2016['Total'].values.std(ddof=1) #Standard deviation of 2016 IT sector

5.3475090691077058